SBTPG_USERNAME=condreros
SBTPG_PASSWORD=Houston12!
SBTPG_ADMIN_OWNER_USERNAME=condreros
SBTPG_ADMIN_OWNER_PASSWORD=Houston12!
SBTPG_CREDITAIL_USERNAME=condreros
SBTPG_CREDITAIL_PASSWORD=Houston12!
SBTPG_CREDITAIL_EMAIL=condrerosross@gmail.com
SBTPG_CREDITAIL_ADMIN_EMAIL=condrerosross@gmail.com
SBTPG_CREDITAIL_ADMIN_PASSWORD=Houston1!
SBTPG_ENVIRONMENT=development
SBTPG_SYNC_MODE=manual
CLOUDFLARE_TURNSTILE_SITE_KEY=
CLOUDFLARE_TURNSTILE_SECRET_KEY=
